@using WebUI.Models
@model DevicesListViewModel

@{
    ViewBag.Title = "Побутова техніка";
}

@foreach (var device in Model.Devices)
{
    //в качестве параметров передаются имя представления и объект модели представления
    @Html.Partial("_DeviceSummary", device);
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>

